* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    height: 100%;
    min-height: 100%;
    padding-bottom: 70px;
}

.judul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.judul h1 {
    font-weight: 700;
    color: rgb(0, 0, 141);
    text-shadow: #00357159 2px 5px 5px;
}

.judul label {
    margin-top: 14px;
    font-style: italic;
    color: rgb(9, 0, 138);
    font-size: 20px;
    text-shadow: #00357157 2px 5px 5px;
}



.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.news h4, .recent h4 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(0, 50, 100, 0.3);
    color: #FFFFFF;
    padding: 2px;
    width: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.recent {
    overflow: hidden;
    background-color: rgba(198, 221, 251, 0.363);
    border-radius: 10PX;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#labet-kettabel {
    font-size: 5px;
}

.tabel-riwayat {
    overflow: auto;
    max-height: 520px;
    margin-top: 10px;
    margin-right: -300px;
    padding-right: 300px;
}

.label-tombol {
    font-size: 10px;
    background-color: rgb(54, 120, 206);
    color: rgb(167, 189, 248);
    float: right;
    margin-bottom: 50px;
    margin-right: 20px;
}

/* baca.php */

.baca {
    margin-top: 10px;
}

.baca h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-style: italic;
    text-shadow: #0035717a 2px 5px 5px;
}

.baca h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 83, 21);
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: #00357175 2px 5px 5px;
}

.baca h4 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tag-img img {
    width: 60px;
}

.tag-img div {
    text-align: center;
}

.tag2 {
    margin-top: 15px;
}

/* waktu */
.waktu {
    text-align: center;
    margin-bottom: 20px;
}

.jam h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: darkblue;
    text-shadow: #ffffff55 2px 5px 5px;
}   

.tanggal h2 {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 20px;
}

/* footer */

.footer {
    background-color: rgba(0, 50, 100, 0.3);
    color: aliceblue;
    
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
    margin: 0 auto;
    min-height: 10vh;
    object-fit: cover;
    
    /*
    Property utama agar Footer tetap berada dibawah.
    */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: rgb(153, 216, 245);
}

.footer b, .footer p {
    font-family: Arial, Helvetica, sans-serif;
}

.footer p {
    color: silver;
    font-size: 15px;
}

.border {
    border: 1px solid #FFFFFF;
    width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-tabel {
    margin-top: 10px;
}

.judul-tabel h1 {
    text-align: center;
}

.container-table {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 10px;
}

#foto-list {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabel {
    margin-bottom: 50px;
}

.pilihan-bulan {
    display: inline-flex;
    justify-content: space-around;
}

/* rekap form */

.pilihan div {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pilih-katagori form {
    display: flex;
    margin-right: 15px;
    gap: 15px;
}

.input-pilihan {
    padding: 5px;
    background-color: rgba(238, 223, 217, 0.301);
    border-radius: 10px;
}

.detail-content {
    background-color: rgba(100, 148, 237, 0.301);
    max-width: 50%;
    min-width: 300px;
    max-height: 60%;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#ket-gtk {
    font-weight: bold;
}

#foto-profil {
    width: 100%;
    border-radius: 50px;
    margin: 10%;
}

#foto-scan {
    max-width: 30%;
    border-radius: 20px;
    margin: 10px;
}

#label-docs{
    font-size: 12px;
}

.card-gtk {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.card-gtk label {
    font-style: italic;
}

.card-gtk p {
    font-size: 14px;
    
}

.recent h6, .recent a {
    display: flex;
    margin: auto;
}

#form-ijin {
    background-color: rgba(240, 248, 255, 0.349);
    border-radius: 10px;
    position: relative;
    min-width: 500px;
    max-width: 700px;
    margin-top: 0px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

#form-ijin div {
    display: flex;
    justify-content: space-between;
}

#form-ijin input {
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 420px;
    float: right;
}

#form-ijin label {
    font-weight: 600;
    margin-left: 40px;
}

#form-ijin button {
    float: right;
    margin: 10px;
    min-width: 100px;
}

.foto-profil {
    margin-top: 50px;
    max-height: 120px;
    border-radius: 100px;
    display: block;
    margin-left: 30%;
    margin-right: auto;
}

.input-tanggal {
    margin-left: 10px;
}

#formFileSm {
    width: 330px;
}

#fotodoc {
    height: 80px;
    margin-left: 10px;
}

#fotodoc img {
    margin-bottom: 10px;
    margin-left: 30px;
}


/* resolusi besar */
@media screen and (min-width:800px) {
    .home {
        display: flex;
    }
    
    .box {
        min-height: 150px;
        width: 100%;
    }
 
    .news {
        width: 25%;
        margin-left: 1%;
    }

    .scan {
        width: 50%;
    }

    .recent {
        width: 25%;
        margin-right: 1%;
    }

    .judul {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        display: flex;
        justify-content: center;
        margin: 15px;
        gap: 10px;
    }

    .card img {
    margin-top: 60px;
    margin-left: 25px;
    }

    .baca h1 {
    font-size: 40px;
    font-weight: 900;
    text-shadow: #00357188 2px 5px 2px;
    }

    .baca h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

    .scan-img img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* text-shadow: #00357188 2px 5px 2px; */
    filter: drop-shadow(5px 5px 5px #222);
    }

    .tag-img {
    display: flex;
    justify-content: center;
    }

    .tag-mode {
    background-color: #ffffff83;
    min-width: 30%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    }
}

/* resolusi layar kecil */

@media screen and (max-width: 800px) {
.judul {
    text-align: center;
}

.judul h1 {
    position: sticky;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 0;
    text-shadow: #00357188 2px 5px 5px;
}

.judul label {
    margin-top: 0;
    font-size: 14px;
    border: 2px;
    text-shadow: #00357188 2px 5px 5px;
}

.card img {
    max-width: 100px;
    margin-top: 60px;
    margin-left: 22px;
    margin-right: auto;
    }
    
    
.baca h1 {
    display: none;
        /* font-size: 30px;
        font-weight: 400; */
}
    
.baca h2 {
    display: none;
        /* font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-left: auto;
        margin-right: auto; */
}
    
    .scan-img img {
        display: none;
        /* width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto; */
    }
    
    .tag-img {
        display: none;
    }

    .tag-mode {
    display: none;
    }

    #tabel-semuarekap {
        margin-top: 50px;
    }
    
    #tabel-rekapharian {
        margin-top: 50px;
    }
}
    /*  */