* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1152px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu ul li {
    font-family: sans-serif;
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}

/* hero */

.hero {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.hero-text {
    width: 500px;
}

.hero-text h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 44px;
    font-weight: 400;
}

.hero-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.hero-text h1, .hero-text p {
    margin-bottom: 35px;
}

.hero-image img {
    width: 243px;
}

.hero-text button {
    /* background-color: #FF6464; */
    background-color: #647bff;
    border: none;
    padding: 15px;
    font-size: 20px;
    color: white;
}

/* post */
.post {
    background-color: #EDF7FA;
    padding: 15px 110px;
    margin-top: 50px;
}

.post-recent {
    display: flex;
    justify-content: space-between;
}

.post-recent h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.post-recent a {
    color: #00A8CC;
    text-decoration: none;
    margin-bottom: 15px;
}

.post-content {
    display: flex;
    gap: 20px;
}

.post-content-detail {
    background-color: white;
    padding: 20px 15px;
}

.post-content-detail h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.post-content-detail label, .post-content-detail p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}


/* footer */

.footer {
    margin-top: 20px;
}

.footer-image, .footer-text {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    font-size: 14px;
}

/* fitur */

.fitur {
    margin-top: 15px;
    padding: 0 110px;
}

.fitur-card {
    margin-top: 20px;
    padding: 0 110px;
}

.fitur-title h4 {
    font-size: 20px;
    font-weight: 100;
}

.fitur-card-isi {
    display: flex;
    gap: 15px;
}

.fitur-text-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
}

.fitur-detail {
    margin-top: 15px;
}

.fitur-detail p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.dashboard p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: darkgrey;
}

.dashboard label {
    background-color: black;
    color: #EDF7FA;
    font-size: 15px;
    font-weight: 600;
    padding: 3px;
    border-radius: 10px;
}

.border {
    border: 1px solid #E0E0E0;
    margin: 15px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 500px;
    }

    .menu {
        width: auto;
        justify-content: center;
    }

    .hero {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .hero-text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .post {
        padding: 5%;
    }

    .post-content {
        flex-direction: column;
    }

    .post-content-detail {
        text-align: justify;
    }

    .fitur {
        padding: 30px;
    }

    .fitur-card {
        padding: 30px;
    }

    .fitur-card-isi {
        flex-direction: column;
    }

    .fitur-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .detail-dash {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
